// @import '../../node_modules/slick-carousel/slick/slick.scss';
// @import '../../node_modules/magnific-popup/src/css/main.scss';
@import 'reset';
@import 'global';

@import 'lego/header';
@import 'lego/footer';
@import 'page/main';
@import 'page/projects';




.index {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        z-index: -2;
        inset: 0;
        pointer-events: none;
        background-image: url('../images/noise.png');
        background-repeat: repeat;
        background-size: 100px 100px;
        opacity: 0.5;

    }

    &:after {
        // градиент
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -3;
        background: linear-gradient(219deg, #FFF 0%, #E2E2E2 71.00%, #D8D8D8 100%);
    }




    .header__mobile-logo--light {

        @media (max-width: 768px),
        (max-width: 768px) and (orientation: landscape) {
            color: $b;
        }

    }
}

.about-page {
    &:before {
        content: none;
    }

    &:after {
        background: linear-gradient(223deg, #FFF 16.15%, #D8D8D8 100%);
    }
}

.about {
    &__hero {
        padding-top: 55px;
        padding-bottom: 100px;

        @media (max-width: 768px) {
            padding-bottom: 40px;
        }
    }

    &__title {
        font-size: 150px;
        line-height: 1.2;
        text-transform: uppercase;
        margin-bottom: 100px;

        @media (max-width: 768px) {
            font-size: 50px;
            margin-bottom: 26px;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        gap: 100px;
        align-items: flex-start;

        @media (max-width: 768px) {
            flex-wrap: wrap;
            gap: 20px;
        }
    }

    &__status {
        @media (max-width: 768px) {
            order: 1;
        }
    }

    &__status-item {
        font-weight: 300;
        font-size: 40px;
        line-height: 1.5;

        &:last-child {
            margin-top: 100px;

            @media (max-width: 768px) {
                margin-top: 40px;
            }
        }

        @media (max-width: 768px) {
            font-size: 30px;
        }
    }

    &__img {
        @media (max-width: 768px) {
            width: 100%;
            max-width: 335px;
            height: auto;
            order: 0;
        }
    }

    &__edu {
        padding-bottom: 100px;
    }

    &__edu-inner {
        display: flex;
        justify-content: space-between;
        gap: 100px;
        align-items: flex-start;

        @media (max-width: 768px) {
            flex-wrap: wrap;
            gap: 80px;
        }
    }

    &__edu-content {
        @media (max-width: 768px) {
            order: 1;
        }
    }

    &__edu-text {
        max-width: 617px;
        width: 100%;

        @media (max-width: 768px) {
            order: 0;
        }
    }

    &__subtitle {
        font-weight: 300;
        font-size: 40px;
        line-height: 1.5;
        margin-bottom: 40px;
    }

    &__edu-list {
        max-width: 500px;
    }

    &__edu-item {
        display: flex;
        gap: 50px;

        &:not(:last-child) {
            margin-bottom: 25px;
        }
    }

    &__year {
        width: 120px;
        font-weight: 700;
        line-height: 1.5;
        flex-shrink: 0;

        @media (max-width: 768px) {
            font-size: 16px;
        }
    }

    &__info {
        @media (max-width: 768px) {
            max-width: 51%;
            font-size: 16px;
        }
    }

    &__edu-text {
        line-height: 1.6;
        letter-spacing: -0.18px;

        p:first-child {
            margin-bottom: 30px;
        }

        @media (max-width: 768px) {
            font-size: 16px;
        }
    }

    &__show {
        padding-bottom: 100px;
    }

    &__show-item {
        display: flex;
        gap: 50px;

        &:not(:last-child) {
            margin-bottom: 3px;

            @media (max-width: 768px) {
                margin-bottom: 20px;
            }
        }
    }

    &__stats {
        padding-top: 100px;
        padding-bottom: 100px;

        @media (max-width: 768px) {
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }

    &__stats-list {
        display: flex;
        justify-content: space-between;
        gap: 15px;
        margin-bottom: 200px;

        @media (max-width: 768px) {
            flex-wrap: wrap;
            gap: 10px;
            margin-bottom: 80px;
        }
    }

    &__stats-item {
        text-align: center;
        max-width: 240px;
        width: 100%;

        @media (max-width: 768px) {
            width: 48%;
            text-align: left;
        }
    }

    &__stats-num {
        font-size: 200px;
        line-height: 1;
        display: block;
        margin-bottom: 25px;

        @media (max-width: 768px) {
            font-size: 130px;
        }
    }

    &__stats-text {
        font-weight: 300;
        font-size: 40px;

        @media (max-width: 768px) {
            font-size: 30px;
        }
    }
}






.boo {
    margin-bottom: 80px;
    position: relative;

    &+.project-content__item {
        margin-top: 0;
    }
}

.audio {
    position: absolute;
    left: 20px;
    bottom: 100px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__track {
        opacity: 0;
        pointer-events: none;
    }

    &__play-button {
        width: 40px;
        height: 40px;
        position: absolute;
        // border: 2px solid red;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        &.active {
            .audio__play-button-icon {
                &--pause {
                    opacity: 1;
                }

                &--play {
                    opacity: 0;
                }
            }
        }
    }

    &__play-button-icon {
        position: absolute;
        stroke: #fff;
        fill: transparent;
        transition: opacity 0.5s;

        &--pause {
            opacity: 0;
        }
    }
}

.player {
    position: fixed;
    padding: 10px;
    border-radius: 2px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    max-width: 200px;
    height: auto;
    background-color: rgb(53, 53, 85);
    font-size: 14px;

    &__item {
        display: flex;
        align-items: center;
        gap: 20px;
    }


    &__play-button {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        &.active {
            .player__play-button-icon {
                &--pause {
                    opacity: 1;
                }

                &--play {
                    opacity: 0;
                }
            }
        }
    }

    &__play-button-icon {
        position: absolute;
        stroke: #fff;
        fill: transparent;
        transition: opacity 0.5s;

        &--pause {
            opacity: 0;
        }
    }
}




.project-preview {
    padding: 100px 0;

    @media (max-width: 768px) {
        padding: 40px 0;
    }

    &__video {
        @media (max-width: 1400px) {
            width: 100%;
            height: auto;
        }
    }

    &__link {}

    &__title {
        text-transform: uppercase;
        margin-bottom: 40px;
    }

    &__inner {
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 20px;

        @media (max-width: 768px) {
            margin-bottom: 0;
        }
    }

    &__img-wrap {
        &--none {
            @media (max-width: 992px) {
                display: none;
            }
        }
    }

    &__img {
        background-color: #dfdfdf;

        @media (max-width: 1400px) {
            height: auto;
        }
    }

    &__icon-wrapper {
        display: flex;
        align-items: center;
        margin-left: auto;
        width: fit-content;
        height: 40px;
    }

    &__icon {
        @media (max-width: 768px) {
            width: 44px;
            height: auto;
        }
    }
}

.project-hero {

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 814px;
    margin-bottom: 100px;
    padding-top: 130px;
    position: relative;
    z-index: 1;

    @media (max-width: 992px) {
        min-height: 814px;
        height: auto;
        background-size: auto 814px;
        background-position: center top;
    }

    @media (max-width: 768px) {
        margin-bottom: 80px;
    }

    &--sound {
        @media (max-width: 992px) {
            padding-top: 0;

            .project-hero__content {
                padding-top: 0;
                color: $w;
            }
        }


    }

    &--flowers {
        // padding-top: 70px;

        .project-hero__container {

            @media (max-width: 1200px) {
                flex-wrap: nowrap;
            }
        }

        .project-hero__img {
            @media (max-width: 1200px) {
                width: 50%;
                height: auto;
            }

            @media (max-width: 992px) {
                position: absolute;
                z-index: -1;
                height: 814px;
                width: auto;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
            }

            @media (max-width: 576px) {
                height: 743;
                object-fit: cover;
            }
        }

        .project-hero__content {
            color: $w;
        }
    }

    &--largo {
        padding-top: 0;

        .project-hero__inner {
            padding-top: 200px;
        }

        .project-hero__container {

            @media (max-width: 1200px) {
                flex-wrap: nowrap;
            }
        }

        .project-hero__content {

            @media (max-width: 768px) {
                padding-top: 615px;

                p:not(:last-child) {
                    margin-bottom: 30px;
                }
            }
        }


        .project-hero__img {
            @media (max-width: 1200px) {
                width: 50%;
                height: auto;
            }

            @media (max-width: 992px) {
                position: absolute;
                z-index: -1;
                height: 814px;
                width: auto;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
            }

            @media (max-width: 576px) {
                height: 743;
                object-fit: cover;
            }
        }
    }

    &--anatomy {
        .project-hero__content {
            @media (max-width: 768px) {
                padding-top: 570px;
            }

        }
    }

    &--overlay {
        &:before {
            content: '';
            background: linear-gradient(270deg, rgba(0, 0, 0, 0.55) 7.86%, rgba(0, 0, 0, 0.55) 31.73%, rgba(0, 0, 0, 0.55) 39.03%, rgba(255, 255, 255, 0) 100%);
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
            top: 0;
            left: 0;

            @media (max-width: 992px) {
                height: 814px;
            }
        }
    }

    &__container {
        padding-left: 175px;
        display: flex;
        justify-content: space-between;
        gap: 129px;

        @media (max-width: 1400px) {
            gap: 50px;
            padding-left: 20px;
            flex-wrap: wrap;
        }
    }

    &__content {
        max-width: 493px;
        color: $w;
        line-height: 1.6;
        letter-spacing: -0.01em;

        &--dark {
            color: $b;
        }

        @media (max-width: 992px) {
            padding-top: 640px;
            color: $b;
            max-width: 100%;
        }

        &--flowers {
            @media (max-width: 768px) {
                padding-top: 615px;
            }
        }
    }

    &__title {
        margin-bottom: 40px;
    }

    &__name {
        @media (max-width: 768px) {
            text-transform: uppercase;
        }
    }
}

.project-content {

    &--largo {
        .project-content__text {

            @media (max-width: 1200px) {
                max-width: 100%;
            }
        }

        .project-content__item:first-child {

            @media (max-width: 768px) {
                gap: 40px;

                .project-content__img {
                    order: 0;
                    width: 162px;
                    height: auto;
                    margin-left: auto;
                }

                .project-content__text {
                    order: 1;
                }
            }
        }

        .nowrap {
            flex-wrap: nowrap;
        }
    }

    &__figure {
        gap: 40px;
        display: flex;
        flex-direction: column;

        @media (max-width: 768px) {
            gap: 20px;
        }

        &--row {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 10px;

            .project-content__img {
                width: 160px;
                height: auto;
            }
        }

        .project-content__img {
            margin: 0;

            &:not(:last-child) {
                margin: 0;
            }
        }

        &--left {
            @media (max-width: 768px) {
                margin-left: auto;
                max-width: 162px;

                .project-content__img {
                    height: auto;
                }
            }
        }
    }

    &__list {
        margin-bottom: 100px;

        @media (max-width: 768px) {
            margin-bottom: 40px;
        }
    }

    &__item {
        display: flex;
        gap: 193px;
        flex-wrap: wrap;

        @media (max-width: 768px) {
            gap: 80px;
        }

        &--center {
            justify-content: center;
        }

        &--between {
            justify-content: space-between;
        }

        &--small-gap {
            gap: 20px;
        }

        &--end {
            justify-content: flex-end;
        }

        &:not(:last-child) {
            margin-bottom: 200px;

            @media (max-width: 768px) {
                margin-bottom: 80px;
            }
        }

        &--overlap {
            margin-top: -466px;

            @media (max-width: 1200px) {
                margin-top: 0;
            }
        }

        &--align {
            align-items: center;
        }

        &--otherside {
            @media (max-width: 768px) {
                flex-direction: column;
                gap: 40px;

                .project-content__figure {
                    order: 1;
                }

                .project-content__img {
                    order: 0;
                    width: 163px;
                    height: auto;
                }
            }
        }

    }

    &__img {
        // &:not(:first-child) {
        //     margin-top: 50px;
        // }

        &:not(:last-child) {
            margin-bottom: 40px;
        }

        @media (max-width: 992px) {
            height: auto;
        }

        &--small {
            @media (max-width: 768px) {
                width: 162px;
            }
        }
    }

    &__desc {
        // margin-top: 40px;
        text-transform: uppercase;

        &--fullwidth {
            width: 100%;
        }

        @media (max-width: 768px) {
            font-size: 10px;

            &--big {
                font-size: 16px;
            }
        }
    }

    &__year {
        @media (max-width: 768px) {
            display: block;
        }
    }

    &__text {
        max-width: 500px;

        p {
            line-height: 1.6;
            letter-spacing: -0.01em;

            &:not(:last-child) {
                margin-bottom: 25px;
            }
        }

    }

    &__ps {
        font-weight: 500;
        font-size: 40px;
        line-height: 1.3;
        color: #FFFFFF;
        margin-bottom: 100px;

        @media (max-width: 768px) {
            font-size: 20px;
            line-height: 1;
            margin-bottom: 40px;
        }
    }
}


.cityNoName {
    &:after {
        background: linear-gradient(146deg, #FFF 0%, #C3C3C3 19.54%, #E1E1E1 44.22%, #CECECE 58.79%, rgba(193, 193, 193, 0.99) 86.74%, #E8E8E8 98.41%);
    }

}

.anatomyOfBotanic {
    &:before {
        content: none;
    }

    &:after {
        background: linear-gradient(146deg, #FFF 0.61%, #F3F3F3 17.06%, #D4D4D4 26.48%, #FFF 39.26%, rgba(255, 255, 255, 0.99) 51.07%, rgba(212, 212, 212, 1.00) 67.62%, #E8E8E8 86.99%);
    }

}


// DARK PAGE
.flowersOfDeath {
    background-color: $b;
    color: $w;

    @media (max-width: 768px),
    (max-width: 768px) and (orientation: landscape) {
        .header {
            background-color: $b;
        }

        .header__burger {

            &:before,
            &:after {
                background-color: $w;
            }

            &.active {

                &:before,
                &:after {
                    background-color: $b;
                }
            }
        }
    }
}

.largo {
    &:after {
        background: linear-gradient(164deg, #FFF 12.92%, rgba(222, 222, 222, 0.84) 18.65%, #F3F3F3 28.51%, #E9E9E9 42.91%, #FFF 56.45%, rgba(255, 255, 255, 1.00) 63.38%, rgba(193, 193, 193, 0.99) 75.92%, rgba(243, 243, 243, 1.00) 83.74%, #E8E8E8 98.41%);
    }

    &__figure {
        width: 100%;
    }

    &__figcaption {
        margin-bottom: 40px;
    }

    &__books-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;

        @media (max-width: 576px) {
            gap: 10px;
        }
    }

    &__books-img {
        @media (max-width: 576px) {
            max-width: 48%;
            height: auto;
        }
    }
}

// DARK PAGE
.soundOfTheUniverse {
    background-color: $b;
    color: $w;

    &:before {
        content: none;
    }

    @media (max-width: 768px),
    (max-width: 768px) and (orientation: landscape) {
        .header {
            background-color: $b;
        }

        .header__burger {

            &:before,
            &:after {
                background-color: $w;
            }

            &.active {

                &:before,
                &:after {
                    background-color: $b;
                }
            }
        }
    }
}




.figcaption {
    text-transform: uppercase;
    font-size: 16px;

    &--mob-small {
        @media (max-width: 768px) {
            font-size: 10px;
        }
    }

    &--small {
        text-transform: capitalize;
        font-size: 18px;
    }

    &__year {
        @media (max-width: 768px) {
            display: block;
        }
    }
}