.header {
    padding: 25px 0 0 0;
    position: fixed;
    top: 0;
    width: 100%;
    color: $white;
    overflow: hidden;
    pointer-events: none;

    a,
    button {
        pointer-events: auto;
    }

    @media (max-width: 768px),
    (max-width: 768px) and (orientation: landscape) {
        background-color: $w;
        padding: 8px 0;
    }

    &__menu {
        display: flex;
        align-items: flex-start;
        width: 100%;
        transform: translateX(-238px);
        transition: transform 0.5s;

        @media (max-width: 768px),
        (max-width: 768px) and (orientation: landscape) {
            justify-content: space-between;
        }
    }

    &__logo {
        margin-right: 25px;
        padding-right: 20px;
    }

    &__list {
        display: flex;
        flex-grow: 1;

        @media (max-width: 768px),
        (max-width: 768px) and (orientation: landscape) {
            position: absolute;
            width: 100vw;
            height: 100vh;
            left: 0;
            top: 0;
            background-color: $w;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding-bottom: 120px;
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.3s;

            &.active {
                opacity: 1;
                pointer-events: all;
            }
        }
    }

    &__item {
        &:not(:last-child) {
            margin-right: 80px;

            @media (max-width: 768px),
            (max-width: 768px) and (orientation: landscape) {
                margin: 0;
            }
        }

        &:last-child {
            margin-left: auto;

            @media (max-width: 768px),
            (max-width: 768px) and (orientation: landscape) {
                margin: 0;
            }
        }
    }

    &__link {
        text-transform: uppercase;
        font-size: 16px;
        transition: opacity 0.3s;
        color: $white;
        mix-blend-mode: difference;

        &:hover,
        &:focus,
        &:active {
            opacity: 0.8;
        }

        @media (max-width: 768px),
        (max-width: 768px) and (orientation: landscape) {
            font-size: 42px;
            color: $b;
            display: block;
            width: 100%;
            padding: 5px 0 5px 20px;
            font-weight: 300;
        }
    }

    &__burger {
        display: none;

        @media (max-width: 768px),
        (max-width: 768px) and (orientation: landscape) {
            position: relative;
            z-index: 55;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 5px;
            width: 44px;
            height: 44px;
            border-radius: 4px;
            background-color: transparent;
            transition: gap 0.4s;

            &:before,
            &:after {
                content: '';
                width: 44px;
                height: 4px;
                background-color: $b;
                border-radius: 5px;
                transition: border-radius 0.6s;
            }

            &.active {
                gap: 0;

                &:before {
                    height: 2px;
                    border-bottom-right-radius: 0;
                    border-bottom-left-radius: 0;
                }

                &:after {
                    height: 2px;
                    border-top-right-radius: 0;
                    border-top-left-radius: 0;
                }
            }

            &:focus,
            &:active {
                opacity: 0.9;
            }
        }
    }

    &.active {
        .header__menu {
            transform: translateX(0);
        }
    }
}